.container {
    padding-left: 20px;
    text-align: left;
}

.typingText {
    font-size: 300px;
    font-weight: 500;
    color: white;
  }
  
  .typingText::after {
    content: "|";
    color: lightblue;
    animation: blink 1s infinite;
  }

  .paragraph {
    font-size: 30px;
    font-weight: 100;
    color: white;
    padding-left: 20px;
    margin-top: -100px;
  }
  
  a {
    color: #61dafb;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  